.mainContainer {
    /* // border: "2px solid #ffffff", */
    /* // textAlign: "center", */
    display: flex;
    margin: 90px 50px 100px 50px;
  }

.img {
  border-radius: 10%;
}

.container {
    /* border: 2px solid #ffffff; */
    /* // borderRight: "2px solid #ffffff", */
    /* display: inline-block;
    padding: 10px 30px 30px 30px; */
    /* // textAlign: "center" */
  }

.aboutTitle {
    font-size: 45px;
    /* // textAlign: "center", */
    user-select: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 70px;
    /* color: #59E659; */
     color: #59E659; 
  }

.aboutImage {
    margin: 60px 0 0 40px;
  }

.aboutContent {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 20px 20px 0px 70px;
    color: #a3a2a2;
  }

/* //   const aboutImgStyle = {
//     borderRadius: "50px"
//   }; */

